/* Start of Oshi Eyes */
.chat-msg-BravoNolanBravo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/CIA.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Luxes .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/polka.png');
    background-position: center;
    background-repeat: no-repeat;
	animation: secret 15s infinite alternate;}
	
 .chat-msg-Moriscythe .timestamp,  .chat-msg-calliopeforest .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/moripog.png');
    background-position: bottom;
    background-repeat: no-repeat}
	
 .chat-msg-MoriIsWhore .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/friendtired.png');
    background-position: top;
    background-repeat: no-repeat}
	
.chat-msg-InaInaIna .timestamp, .chat-msg-Inanonymous .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ina1.png');
    background-position: center;
    background-repeat: no-repeat}
	
 .chat-msg-KSeven .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/smolina.png');
    background-position: center;
    background-repeat: no-repeat}	
	
.chat-msg-marble .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ina2.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-attenanakusa .timestamp, .chat-msg-puchigire .timestamp, .chat-msg-Kusa .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/anya.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Tigre .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/gurababy.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-naggerfiggot .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ayame.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Altearia .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/coco.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-watsonelia .timestamp, .chat-msg-XkpBonus .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/amemo.png');
    background-position: center;
    background-repeat: no-repeat}
	
	 .chat-msg-Anonchama .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ame.png');
    background-position: center;
    background-repeat: no-repeat}
	
	
	.chat-msg-quicktrickbrickstack .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/smolame.png');
    background-position: center;
    background-repeat: no-repeat}
	
	.chat-msg-slowchamp .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ame2.png');
    background-position: center;
    background-repeat: no-repeat}

	
.chat-msg-om3tcw .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/emotes/om3tcw.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-tearshed .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/numbers.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-notfunnycried .timestamp, .chat-msg-MoguMogun .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/okayu.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-neneposter .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/nene.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-salman .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/emotes/salman.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-CEOofBandaids .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/matsuri.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-winningson .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/roberu.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-artssounds .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/smolchama.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-takoyotowar .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/hopiumoverlay.png'), url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/bossbaby.png'); 
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-deadbeete .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/bibi.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-HellBlitzer .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/delta.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-bersercker .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/bersercker.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Xx_cOomEr69_xX .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/matsurilewd.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Kuriketto .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kiara.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-RRatGod .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kiaravolia.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-m_ .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kiara2.png');
    background-position: top;
    background-repeat: no-repeat}

.chat-msg-BirbUp .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/akira.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-gosling .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/gosling.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-jafafafy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ina3.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-fuckhead .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/fbk.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MrMcEggmanJones .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/reine.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-SlavBro .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/botan.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-DarkOracle363 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/gorilla.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-tomboysweat .timestamp, .chat-msg-petme .timestamp, .chat-msg-velveeta .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/nobuhime.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Dango .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/nose.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-etch .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/gargoogla.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-pig .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/anya2.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-metatron .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/tako.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-cryle .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/risuchama.png');
    background-position: center;
    background-repeat: no-repeat}
.chat-msg-senjo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/elira.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Deadbeatchama .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/mori.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Dr_VidyaGeam .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/mori2.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MaddyCaddy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kronii.png');
    background-position: center;
    background-repeat: no-repeat;
	animation: noellers 15s infinite alternate;}

.chat-msg-architect .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/architect.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-114514_ .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/meguru.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-AmesLittleTeamate .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/suisei.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-notSkitzo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/smolkiara.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-fokinLUL .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kirame.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Breadquanda .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/shien.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-SirSwagdaddy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/beatani.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Locura .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/monoe.png');
    background-position: center;
    background-repeat: no-repeat}
.chat-msg-cypherposter .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ame3.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-brapsniffer2077 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/reinebaby.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-Nanora .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/luna.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MantenHanamaru .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/hanamaru.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-mammoth2020 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/erotic.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Moshmallow .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/tako2.png');
    background-position: center top;
    background-repeat: no-repeat}

.chat-msg-Sarp .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/lulu.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Erieolae .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ame4.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-TehBatman .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/koragi.png');
    background-position: bottom;
    background-repeat: no-repeat
	animation: ceresob 15s infinite alternate;}

.chat-msg-Noroba .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/roboco.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-rratticus .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/rrat.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-undah_skor .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/chippo.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-Lamy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/lamy.png');
    background-position: center;
    background-repeat: no-repeat}
	
/* End of Oshi Eyes */
/* Start of Emote Animations */

/* ded */
    img.channel-emote[title$=":anyaded:"], 
    img.channel-emote[title$=":artiaded:"], 
    img.channel-emote[title$=":boohoo:"], 
    img.channel-emote[title$=":dedchama:"], 
    img.channel-emote[title$=":polkaded:"], 
    img.channel-emote[title$=":akided:"], 
    img.channel-emote[title$=":guraded:"], 
    img.channel-emote[title$=":koopaded:"], 
    img.channel-emote[title$=":jesded:"], 
    img.channel-emote[title$=":ninkided:"], 
    img.channel-emote[title$=":risuded:"], 
    img.channel-emote[title$=":zainded:"], 
    img.channel-emote[title$=":mumeided:"] 
    {animation: anyaded 6s alternate infinite;}

/* Glowstick */
    img.channel-emote[title$=":redglowstick:"],
    img.channel-emote[title$=":pinkglowstick:"],
    img.channel-emote[title$=":purpleglowstick:"],
    img.channel-emote[title$=":greenglowstick:"],
    img.channel-emote[title$=":blueglowstick:"],
    img.channel-emote[title$=":yellowglowstick:"] 
    {animation: penr 0.4s alternate infinite;
    transform-origin: 50% 80%;
    animation-name: penr;}

/* bina */
    img.channel-emote[title$=":bina:"], 
    img.channel-emote[title$=":bhaa:"],  
    img.channel-emote[title$=":bame:"],  
    img.channel-emote[title$=":banya:"],  
    img.channel-emote[title$=":bcoco:"],  
    img.channel-emote[title$=":bmori:"],  
    img.channel-emote[title$=":bpeko:"],  
    img.channel-emote[title$=":bpolka:"], 
    img.channel-emote[title$=":bkiara:"], 
    img.channel-emote[title$=":baqua:"], 
    img.channel-emote[title$=":bollie:"], 
    img.channel-emote[title$=":bsui:"], 
    img.channel-emote[title$=":bbaelz:"]    
    {animation: bina 3s linear infinite;}

/* Garoomba */
    img.channel-emote[title$=":gardoomba:"],
    img.channel-emote[title$=":garoomba:"],
    img.channel-emote[title$=":ameroll:"],
    img.channel-emote[title$=":nyaroomba:"],
    img.channel-emote[title$=":kiaroll:"],
    img.channel-emote[title$=":shionchair:"],
    img.channel-emote[title$=":garsmolba:"]
    {animation: garoomba 15s  infinite;}

img.channel-emote[title$=":anyasmug:"] {max-width: 150px; max-height: 100px}
img.channel-emote[title$=":kiaraamfrog:"], img.channel-emote[title$=":anyafrog:"] {animation: amfrog 1s alternate infinite;}
img.channel-emote[title$=":kiaraspin:"] { transform: rotate(180deg);}
img.channel-emote[title$=":Lq9eqHDKJPE:"] {animation: slide 0.9s  infinite;}
img.channel-emote[title$=":polkaaaaaaaaaaaaaaa:"] {animation: quickzoom 0.2s  infinite;}
img.channel-emote[title$=":amespace:"] {animation: amespace 20s forwards; animation-timing-function: linear;}

img.channel-emote[title$=":pekofly:"] {
    animation:  scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-timing-function: linear;
    animation-name: pekofly;}

/* Legacy? There's no kiar animation, don't want to delete yet just in case, does the relative position do something? */
img.channel-emote[title$=":kiarameal:"]  {
    position: relative;
    animation: kiar 0.5s linear both;}

img.channel-emote[title$=":fbkdoko:"] {
    animation: doko 2s alternate both;
    transform-origin: 50% 0%;}

img.channel-emote[title$=":thisisbait:"], img.channel-emote[title$=":anyahang:"] {
    animation: penr 4s alternate infinite;
    transform-origin: 50% 0%;}

img.channel-emote[title$=":wakepup:"], img.channel-emote[title$=":wakepup2:"]  {
    transform: scaleX(-1);right:50px; bottom:5px; }

img.channel-emote[title$=":kris:"] {
    bottom:0px; right: 24px; height: 55px;  z-index: 1;
    animation: kris .5s alternate infinite;
    transform-origin: 0% 100%;}

img.channel-emote[title$=":anyaspace:"], img.channel-emote[title$=":jespace:"] {
    animation: anyaspace 20s forwards; 
    animation-timing-function: linear;}

/* Keyframes */

@keyframes doko {
    0%   { left:00px; top:00px; opacity: 0;}
    99%   { right:105px; top:00px; opacity: 0;}
    100% { right:105px; top:00px; opacity: 1.0;}}
@keyframes penr {
    0% { transform: rotate(30deg);}
    100% {transform: rotate(-30deg);}}
@keyframes pekofly {
    0% {transform: scale(.5);}
    5% {transform: rotate(-30deg) scale(.1); }
    100% {transform: rotate(-360deg) scale(1); }}
@keyframes anyaded {
    0%   { left:00px; top:00px;}
    50%  { left:20px; top:000px;} 
    100% {left:00px; top:00px; }}
@keyframes amfrog {
    0%   { left:00px; bottom:00px;}
    50%  { left:00px; bottom:300px;} 
    100% {left:00px; bottom:00px;}}
@keyframes flip-scale-up-hor {
    0% {   transform: scale(.75) rotateX(0);  } 
    100% {  transform: scale(.75) rotateX(180deg);  }}
@keyframes slide-rotate-hor-top {
    0% {transform: translateY(0) rotateX(0deg);  }
    100% {  transform: translateY(-150px) rotateX(-90deg);  }}
@keyframes bina {
    0% {transform: rotate(-90deg) scale(.82); }
    50% {transform: rotate(-90deg) scale(.9); }
    100% {transform: rotate(-90deg) scale(.82); }}
@keyframes garoomba {
    0%   {  left:00px; top:00px;}
    50%  { left:300px; bottom:000px;} 
    100% {  left:00px; top:000px; }}
@keyframes slide {
    0%   {  left:00px; top:00px;}
    50%  { left:80px; bottom:000px;} 
    100% {  left:00px; top:000px; }}
@keyframes quickzoom {
    0%   {  left:00px; top:00px;}
    50%  { left:25px; bottom:000px;} 
    100% {  left:00px; top:000px; }}
@keyframes kris {
    0% { transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}}
@keyframes rotation {
  from { transform: rotate(0deg); } to { transform: rotate(359deg); }}

@keyframes anyaspace {
    0%   { transform: scale(1);   left:00px;  bottom:00px; }
    25%  { transform: scale(.66); left:100px; bottom:100px;} 
    50%  { transform: scale(.33); left:200px; bottom:200px; }
    75%  { transform: scale(.16); left:250px; bottom:250px;} 
    100% { transform: scale(0);   left:275px; bottom:275px; }}

@keyframes amespace {
    0%   { transform: scale(1)   rotate(0deg);   left:00px;  bottom:00px; }
    25%  { transform: scale(.66) rotate(180deg); left:100px; bottom:100px;} 
    50%  { transform: scale(.33) rotate(360deg); left:200px; bottom:200px; }
    75%  { transform: scale(.16) rotate(540deg); left:250px; bottom:250px;} 
    100% { transform: scale(0)   rotate(720deg); left:275px; bottom:275px; }}

@keyframes secret {
0%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/polka.png') 0 0 no-repeat; opacity:1;}
85%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/polka.png') 0 0 no-repeat; opacity:1;}
90%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/polka.png') 0 0 no-repeat; opacity:0;}
92%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/whore.png') 0 0 no-repeat; opacity:0;}
96%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/whore.png') 0 0 no-repeat; opacity:1;}
100%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/whore.png') 0 0 no-repeat; opacity:1;}
}

@keyframes noellers {
0%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kronii.png') 0 0 no-repeat; opacity:1;}
85%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kronii.png') 0 0 no-repeat; opacity:1;}
90%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/kronii.png') 0 0 no-repeat; opacity:0;}
92%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/noelcry.png') 0 0 no-repeat; opacity:0;}
96%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/noelcry.png') 0 0 no-repeat; opacity:1;}
100%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/noelcry.png') 0 0 no-repeat; opacity:1;}
}

@keyframes ceresob {
0%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ceres.png') 0 0 no-repeat; opacity:1;}
85%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ceres.png') 0 0 no-repeat; opacity:1;}
90%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/ceres.png') 0 0 no-repeat; opacity:0;}
92%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/koragicry.png') 0 0 no-repeat; opacity:0;}
96%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/koragicry.png') 0 0 no-repeat; opacity:1;}
100%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eyes/koragicry.png') 0 0 no-repeat; opacity:1;}
}

/* Displaced emotes */

img.channel-emote[title$=":sea:"], img.channel-emote[title$=":hydraback:"], img.channel-emote[title$=":space:"] {
    right: 105px; height: 75px; max-width:125px;  z-index: -1; }
img.channel-emote[title$=":inahammer:"]  {
    right: 135px;  max-width:125px;  z-index: 1; }
img.channel-emote[title$=":petpet:"]  {
    right: 104px; bottom: 20px; max-width:125px;  z-index: 1; }
img.channel-emote[title$=":friends:"], img.channel-emote[title$=":gfs:"] {
    max-width:100px; max-height:100px;}
img.channel-emote[title$=":cute:"], img.channel-emote[title$=":funny:"] {
    right: 125px; height: 75px;  z-index: 1;}
img.channel-emote[title$=":valianteffort:"] {
    right: 125px; height: 60px;  z-index: 1;}
img.channel-emote[title$=":noose:"] {
    right: 100px; height: 100px;  z-index: 1;}
img.channel-emote[title$=":cell:"] {
    right: 90px; height: 100px; max-width:125px;  z-index: -1; }
img.channel-emote[title$=":curtains:"] {
    right: 105px; height: 75px; max-width:125px;  }
img.channel-emote[title$=":tent:"] {
    right: 54px; height: 55px;  }
img.channel-emote[title$=":loading:"] {
    bottom:20px; right: 65px; height: 35px;  z-index: 1;} 
img.channel-emote[title$=":badass:"]  {
    bottom:0px; right: 100px; height: 35px;  z-index: 1;} 


/* End of Emote Animations */
