/* Start of Oshi Eyes */
.chat-msg-BravoNolanBravo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/hfuwd4.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Luxes .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/mk0mq7.png');
    background-position: center;
    background-repeat: no-repeat;
	animation: secret 15s infinite alternate;}
	
 .chat-msg-Moriscythe .timestamp,  .chat-msg-calliopeforest .timestamp, .chat-msg-TehBatman .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/eq8oga.png');
    background-position: bottom;
    background-repeat: no-repeat}
	
 .chat-msg-MoriIsWhore .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/wfsmlh.png');
    background-position: top;
    background-repeat: no-repeat}
	
	
.chat-msg-InaInaIna .timestamp, .chat-msg-Inanonymous .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/cldvjc.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
 .chat-msg-KSeven .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rs8q9u.png');
    background-position: center;
    background-repeat: no-repeat}	
	
	
.chat-msg-marble .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/zn8bl0.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-attenanakusa .timestamp, .chat-msg-puchigire .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/gjq6d4.png');
    background-position: center;
    background-repeat: no-repeat}
	
	.chat-msg-Tigre .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/a1z9sn.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-naggerfiggot .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/0ebt49.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Altearia .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/l6nmuv.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-watsonelia .timestamp, .chat-msg-XkpBonus .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/ipxocn.png');
    background-position: center;
    background-repeat: no-repeat}
	
	 .chat-msg-Anonchama .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/8snaft.png');
    background-position: center;
    background-repeat: no-repeat}
	
	
	.chat-msg-quicktrickbrickstack .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/8erypl.png');
    background-position: center;
    background-repeat: no-repeat}
	
	.chat-msg-slowchamp .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/0u1nr7.png');
    background-position: center;
    background-repeat: no-repeat}

	
.chat-msg-om3tcw .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/7whn4s.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-tearshed .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/imapyi.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-notfunnycried .timestamp, .chat-msg-MoguMogun .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/ej026n.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-neneposter .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/duc2d1.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-salman .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/8b4226.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-CEOofBandaids .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/6eh9ih.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-winningson .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/soczxh.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-artssounds .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/s8qzd4.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-takoyotowar .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/inbmao.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-deadbeete .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/nth68m.gif');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-HellBlitzer .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/1bib0x.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-bersercker .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/m59zul.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Xx_cOomEr69_xX .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/byz1sr.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Kuriketto .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/a56x1u.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-RRatGod .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/9usnl5.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-m_ .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/p7q5pc.png');
    background-position: top;
    background-repeat: no-repeat}

.chat-msg-BirbUp .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('	https://raw.githubusercontent.com/om3tcw/r/emotes/v9o7di.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-gosling .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/ellzk8.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-jafafafy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/gbhf4q.jpg');
    background-position: center;
    background-repeat: no-repeat}
.chat-msg-fuckhead .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/0ves0o.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MrMcEggmanJones .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/vw4v9y.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-SlavBro .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/cwtwyl.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-DarkOracle363 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/9l4ubd.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-tomboysweat .timestamp, .chat-msg-petme .timestamp, .chat-msg-velveeta .timestamp  {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/mfymnk.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Dango .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/0vwcvy.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-etch .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/aw8dph.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-pig .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/twinqu.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-metatron .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/q4h30w.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-cryle .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rkmqv7.png');
    background-position: center;
    background-repeat: no-repeat}
.chat-msg-senjo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/ewfly8.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Deadbeatchama .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/xuhmr8.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Dr_VidyaGeam .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/du3v7x.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MaddyCaddy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/09bwrt.jpg');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-architect .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/9ty96o.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-114514_ .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/i5sucj.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-AmesLittleTeamate .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/hjgov2.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-notSkitzo .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/ju1ogj.jpg');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-fokinLUL .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rd1kbw.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Breadquanda .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/vvnjaq.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-SirSwagdaddy .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/lnwt4v.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Locura .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/9h8i48.png');
    background-position: center;
    background-repeat: no-repeat}
.chat-msg-cypherposter .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/lhlypa.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-brapsniffer2077 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/qx0t6n.png');
    background-position: center;
    background-repeat: no-repeat}

.chat-msg-Nanora .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/f6bpm6.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-MantenHanamaru .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/itaezj.jpg');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-mammoth2020 .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/5mxknd.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Moshmallow .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/bdffqd.jpg');
    background-position: center top;
    background-repeat: no-repeat}

.chat-msg-Sarp .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/8ciexs.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-Erieolae .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/kyzr1k.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-TehBatman .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/p183ej.png');
    background-position: bottom;
    background-repeat: no-repeat}

.chat-msg-Noroba .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/hv2f25.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-rratticus .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/uglwff.png');
    background-position: center;
    background-repeat: no-repeat}
	
.chat-msg-undah_skor .timestamp {
    color:transparent;
    background-size: 50px 15px;
    background-image: url('https://raw.githubusercontent.com/om3tcw/r/emotes/077jpl.png');
    background-position: center;
    background-repeat: no-repeat}
	
/* End of Oshi Eyes */
/* Start of Emote Animations */
img.channel-emote[title$=":anyasmug:"] {max-width: 150px; max-height: 100px}
img.channel-emote[title$=":anyaded:"], img.channel-emote[title$=":artiaded:"], img.channel-emote[title$=":boohoo:"], img.channel-emote[title$=":dedchama:"], img.channel-emote[title$=":polkaded:"], img.channel-emote[title$=":akided:"], img.channel-emote[title$=":guraded:"], img.channel-emote[title$=":koopaded:"], img.channel-emote[title$=":jesded:"], img.channel-emote[title$=":ninkided:"], img.channel-emote[title$=":risuded:"] {animation: anyaded 6s alternate infinite;}
img.channel-emote[title$=":kiaraamfrog:"], img.channel-emote[title$=":anyafrog:"] {animation: amfrog 1s alternate infinite;}
img.channel-emote[title$=":redglowstick:"], img.channel-emote[title$=":pinkglowstick:"], img.channel-emote[title$=":purpleglowstick:"], img.channel-emote[title$=":greenglowstick:"], img.channel-emote[title$=":blueglowstick:"], img.channel-emote[title$=":yellowglowstick:"] {
    animation: penr 0.4s alternate infinite;
    transform-origin: 50% 80%;
    animation-name: penr;}
img.channel-emote[title$=":pekofly:"] {
    animation:  scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-timing-function: linear;
    animation-name: pekofly;}
img.channel-emote[title$=":kiarameal:"]  {
    position: relative;
    animation: kiar 0.5s linear both;}
img.channel-emote[title$=":fbkdoko:"] {
    animation: doko 2s alternate both;
    transform-origin: 50% 0%;}
img.channel-emote[title$=":thisisbait:"], img.channel-emote[title$=":anyahang:"] {
    animation: penr 4s alternate infinite;
    transform-origin: 50% 0%;}
img.channel-emote[title$=":kiaraspin:"] { transform: rotate(180deg);}
img.channel-emote[title$=":bina:"], img.channel-emote[title$=":bhaa:"],  img.channel-emote[title$=":bame:"],  img.channel-emote[title$=":banya:"],  img.channel-emote[title$=":bcoco:"],  img.channel-emote[title$=":bmori:"],  img.channel-emote[title$=":bpeko:"],  img.channel-emote[title$=":bpolka:"], img.channel-emote[title$=":bkiara:"], img.channel-emote[title$=":baqua:"], img.channel-emote[title$=":bollie:"], img.channel-emote[title$=":bsui:"]    {
    animation: bina 3s linear infinite;}
img.channel-emote[title$=":tent:"]  {
    height: 55px; 
    animation: tent 3s linear infinite;}
img.channel-emote[title$=":wakepup:"], img.channel-emote[title$=":wakepup2:"]  {
  transform: scaleX(-1);right:50px; bottom:5px; }

img.channel-emote[title$=":cell:"] {
  right: 90px; height: 100px; max-width:125px;  z-index: -1; }
img.channel-emote[title$=":curtains:"] {
  right: 105px; height: 75px; max-width:125px;  }

@keyframes doko {
    0%   { left:00px; top:00px; opacity: 0;}
    99%   { right:105px; top:00px; opacity: 0;}
    100% { right:105px; top:00px; opacity: 1.0;}}
@keyframes penr {
    0% { transform: rotate(30deg);}
    100% {transform: rotate(-30deg);}}
@keyframes pekofly {
    0% {transform: scale(.5);}
    5% {transform: rotate(-30deg) scale(.1); }
    100% {transform: rotate(-360deg) scale(1); }}

@keyframes anyaded {
    0%   { left:00px; top:00px;}
    50%  { left:20px; top:000px;} 
    100% {left:00px; top:00px; }}
@keyframes amfrog {
    0%   { left:00px; bottom:00px;}
    50%  { left:00px; bottom:300px;} 
    100% {left:00px; bottom:00px;}}
@keyframes flip-scale-up-hor {
    0% {   transform: scale(.75) rotateX(0);  } 
    100% {  transform: scale(.75) rotateX(180deg);  }}
@keyframes slide-rotate-hor-top {
    0% {transform: translateY(0) rotateX(0deg);  }
    100% {  transform: translateY(-150px) rotateX(-90deg);  }}
@keyframes bina {
    0% {transform: rotate(-90deg) scale(.82); }
    50% {transform: rotate(-90deg) scale(.9); }
    100% {transform: rotate(-90deg) scale(.82); }}
@keyframes tent {
    0%   { right:54px; top:00px;}
    100% { right:54px; top:00px;}}
	
img.channel-emote[title$=":garoomba:"], img.channel-emote[title$=":ameroll:"], img.channel-emote[title$=":nyaroomba:"], img.channel-emote[title$=":kiaroll:"], img.channel-emote[title$=":shionchair:"]  {animation: garoomba 15s  infinite;}
@keyframes garoomba {
    0%   {  left:00px; top:00px;}
    50%  { left:300px; bottom:000px;} 
    100% {  left:00px; top:000px; }}
	
img.channel-emote[title$=":Lq9eqHDKJPE:"]{animation: mediumzoom 0.9s  infinite;}
@keyframes mediumzoom {
    0%   {  left:00px; top:00px;}
    50%  { left:80px; bottom:000px;} 
    100% {  left:00px; top:000px; }}

img.channel-emote[title$=":polkaaaaaaaaaaaaaaa:"]{animation: quickzoom 0.2s  infinite;}
@keyframes quickzoom {
    0%   {  left:00px; top:00px;}
    50%  { left:25px; bottom:000px;} 
    100% {  left:00px; top:000px; }}

@keyframes secret {
0%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/mk0mq7.png') 0 0 no-repeat; opacity:1;}
85%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/mk0mq7.png') 0 0 no-repeat; opacity:1;}
90%   {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/mk0mq7.png') 0 0 no-repeat; opacity:0;}
92%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rcmt3q.png') 0 0 no-repeat; opacity:0;}
96%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rcmt3q.png') 0 0 no-repeat; opacity:1;}
100%  {background: url('https://raw.githubusercontent.com/om3tcw/r/emotes/rcmt3q.png') 0 0 no-repeat; opacity:1;}
}

img.channel-emote[title$=":sea:"], img.channel-emote[title$=":hydraback:"], img.channel-emote[title$=":space:"] {
  right: 105px; height: 75px; max-width:125px;  z-index: -1; }
img.channel-emote[title$=":inahammer:"]  {
  left: 135px;  max-width:125px;  z-index: 1; }
img.channel-emote[title$=":petpet:"]  {
  left: 104px; bottom: 20px; max-width:125px;  z-index: 1; }
img.channel-emote[title$=":friends:"], img.channel-emote[title$=":gfs:"] {
   max-width:100px; max-height:100px;}
img.channel-emote[title$=":cute:"], img.channel-emote[title$=":funny:"] {
left: 125px; height: 75px;  z-index: 1;}
img.channel-emote[title$=":valianteffort:"] {
left: 125px; height: 60px;  z-index: 1;}
img.channel-emote[title$=":noose:"] {
left: 100px; height: 100px;  z-index: 1;}
/* End of Emote Animations */