
.chat-msg-AmesLittleTeamate .username  {font-size: 0;}
.chat-msg-AmesLittleTeamate .username:after {font-size: 14px;content: 'Halley: ';}
.chat-msg-CEOofBandaids .username  {font-size: 0;}
.chat-msg-CEOofBandaids .username:after {font-size: 14px;content: 'Suesawa: ';}
.chat-msg-Moshmallow .username{font-size: 0;}
.chat-msg-Moshmallow .username:after {font-size: 14px;content: 'Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch: ';}
.chat-msg-Luxes .username{font-size: 0;}
.chat-msg-Luxes .username:after {font-size: 14px;content: 'Gay: ';}
.chat-msg-Lux .username{font-size: 0;}
.chat-msg-Lux .username:after {font-size: 14px;content: 'Gay: ';}
.chat-msg-pig .username{font-size: 0;}
.chat-msg-pig .username:after {font-size: 14px;content: 'Anton: ';}
.chat-msg-Noroba .username{font-size: 0;}
.chat-msg-Noroba .username:after {font-size: 14px;content: 'Ashley: ';}
.chat-msg-MaddyCaddy .username{font-size: 0;}
.chat-msg-MaddyCaddy .username:after {font-size: 14px;content: 'Rick: ';}
.chat-msg-jafafafy .username{font-size: 0;}
.chat-msg-jafafafy .username:after {font-size: 14px;content: 'Charlie: ';}
.chat-msg-MrMcEggmanJones .username{font-size: 0;}
.chat-msg-MrMcEggmanJones .username:after {font-size: 14px;content: 'Shawn: ';}
.chat-msg-metatron .username{font-size: 0;}
.chat-msg-metatron .username:after {font-size: 14px;content: 'mIKAel: ';}
.chat-msg-LonelyTeamate .username{font-size: 0;}
.chat-msg-LonelyTeamate .username:after {font-size: 14px;content: 'Veronica: ';}
.chat-msg-Anonchama .username{font-size: 0;}
.chat-msg-Anonchama .username:after {font-size: 14px;content: 'Sherlie: ';}
.chat-msg-takoyotowar .username{font-size: 0;}
.chat-msg-takoyotowar .username:after {font-size: 14px;content: 'Mary (virgin): ';}
.chat-msg-GoomberRoomber .username{font-size: 0;}
.chat-msg-GoomberRoomber .username:after {font-size: 14px;content: 'Brad: ';}
.chat-msg-SlavBro .username{font-size: 0;}
.chat-msg-SlavBro .username:after {font-size: 14px;content: 'Ramirez: ';}
.chat-msg-senjo .username{font-size: 0;}
.chat-msg-senjo .username:after {font-size: 14px;content: 'brock: ';}
.chat-msg-Moruru .username{font-size: 0;}
.chat-msg-Moruru .username:after {font-size: 14px;content: 'Lulu: ';}
.chat-msg-quicktrickbrickstack .username{font-size: 0;}
.chat-msg-quicktrickbrickstack .username:after {font-size: 14px;content: 'Maya: ';}
.chat-msg-deadbeete .username{font-size: 0;}
.chat-msg-deadbeete .username:after {font-size: 14px;content: 'Rodriguez: ';}
.chat-msg-MF_ERIE .username{font-size: 0;}
.chat-msg-MF_ERIE .username:after {font-size: 14px;content: 'Huron: ';}
.chat-msg-Kusa .username{font-size: 0;}
.chat-msg-Kusa .username:after {font-size: 14px;content: 'Donny: ';}
.chat-msg-Tigre .username{font-size: 0;}
.chat-msg-Tigre .username:after {font-size: 14px;content: 'Naomi: ';}
.chat-msg-N_ .username{font-size: 0;}
.chat-msg-N_ .username:after {font-size: 14px;content: 'Nathaniel: ';}
.chat-msg-Deadbeatchama .username{font-size: 0;}
.chat-msg-Deadbeatchama .username:after {font-size: 14px;content: 'Gilbert: ';}
.chat-msg-BirbUp .username{font-size: 0;}
.chat-msg-BirbUp .username:after {font-size: 14px;content: 'Augustus: ';}
.chat-msg-FloatingGaust .username{font-size: 0;}
.chat-msg-FloatingGaust .username:after {font-size: 14px;content: 'Jamal: ';}
.chat-msg-XkpBonus .username{font-size: 0;}
.chat-msg-XkpBonus .username:after {font-size: 14px;content: 'Jenny: ';}
.chat-msg-speec183 .username{font-size: 0;}
.chat-msg-speec183 .username:after {font-size: 14px;content: '习近平: ';}
.chat-msg-erie .username{font-size: 0;}
.chat-msg-erie .username:after {font-size: 14px;content: 'Rin: ';}
.chat-msg-Tako225 .username{font-size: 0;}
.chat-msg-Tako225 .username:after {font-size: 14px;content: 'Katey: ';}
.chat-msg-Shifumi .username{font-size: 0;}
.chat-msg-Shifumi .username:after {font-size: 14px;content: 'Fumika: ';}
.chat-msg-slowchamp .username{font-size: 0;}
.chat-msg-slowchamp .username:after {font-size: 14px;content: 'Jerma: ';}
.chat-msg-Dango .username{font-size: 0;}
.chat-msg-Dango .username:after {font-size: 14px;content: 'Nagisa: ';}
.chat-msg-Altearia .username{font-size: 0;}
.chat-msg-Altearia .username:after {font-size: 14px;content: 'Albedo: ';}
.chat-msg-KSeven .username{font-size: 0;}
.chat-msg-KSeven .username:after {font-size: 14px;content: 'Nanahoshi: ';}
.chat-msg-Inanonymous .username{font-size: 0;}
.chat-msg-Inanonymous .username:after {font-size: 14px;content: 'Frannie: ';}
.chat-msg-brapsniffer2077 .username{font-size: 0;}
.chat-msg-brapsniffer2077 .username:after {font-size: 14px;content: 'smartfella69: ';}
.chat-msg-Chimken .username{font-size: 0;}
.chat-msg-Chimken .username:after {font-size: 14px;content: 'Szczebrzeszyński: ';}
.chat-msg-fuckhead .username{font-size: 0;}
.chat-msg-fuckhead .username:after {font-size: 14px;content: 'Alfred: ';}
.chat-msg-etch .username{font-size: 0;}
.chat-msg-etch .username:after {font-size: 14px;content: 'Edgar: ';}
.chat-msg-Locura .username{font-size: 0;}
.chat-msg-Locura .username:after {font-size: 14px;content: 'Leandro: ';}
.chat-msg-Sarp .username{font-size: 0;}
.chat-msg-Sarp .username:after {font-size: 14px;content: 'Mark: ';}
.chat-msg-Kurosu .username{font-size: 0;}
.chat-msg-Kurosu .username:after {font-size: 14px;content: 'Kurosawa: ';}
.chat-msg-notSkitzo .username{font-size: 0;}
.chat-msg-notSkitzo .username:after {font-size: 14px;content: 'Skeeter: ';}
.chat-msg-undah_skor .username{font-size: 0;}
.chat-msg-undah_skor .username:after {font-size: 14px;content: 'Grant: ';}
.chat-msg-Rratboi .username{font-size: 0;}
.chat-msg-Rratboi .username:after {font-size: 14px;content: 'Ashton: ';}
.chat-msg-Skeleton .username{font-size: 0;}
.chat-msg-Skeleton .username:after {font-size: 14px;content: 'Justin: ';}
.chat-msg-notSkitzopp .username{font-size: 0;}
.chat-msg-notSkitzopp .username:after {font-size: 14px;content: 'Jerry: ';}
.chat-msg-fakeangel .username{font-size: 0;}
.chat-msg-fakeangel .username:after {font-size: 14px;content: 'Stacey: ';}
.chat-msg-Friendo .username{font-size: 0;}
.chat-msg-Friendo .username:after {font-size: 14px;content: 'Tomo: ';}
.chat-msg-Dr_VidyaGeam .username{font-size: 0;}
.chat-msg-Dr_VidyaGeam .username:after {font-size: 14px;content: 'Vivian James: ';}
.chat-msg-Egao .username{font-size: 0;}
.chat-msg-Egao .username:after {font-size: 14px;content: 'Taiga: ';}
.chat-msg-Nanora .username{font-size: 0;}
.chat-msg-Nanora .username:after {font-size: 14px;content: 'Honda: ';}
.chat-msg-TehBatman .username{font-size: 0;}
.chat-msg-TehBatman .username:after {font-size: 14px;content: 'Cornelius: ';}